.verified-badge-icon,
.verified-badge-text-container {
  display: none;
}
.badgeSizeCaptionheader,
.badgeSizeFooter,
.badgeSizeHeader,
.badgeSizeSubheader,
.badgeSizeTitle {
  position: relative;
  overflow: hidden;
}
.badgeSizeTitle {
  width: 28px;
  height: 28px;
}
.badgeSizeFooter {
  width: 12px;
  height: 12px;
}
.badgeSizeCaptionheader,
.badgeSizeHeader,
.badgeSizeSubheader {
  width: 16px;
  height: 16px;
}
.hz-centered-badge-container {
  margin: 5px 0;
  display: flex;
  justify-content: center;
}
.player-search-container {
  width: 970px;
  margin: 0 auto;
  position: relative;
  min-height: 600px;
}
@media (max-width: 991px) {
  .player-search-container {
    width: 100%;
    min-width: 320px;
    min-height: 0;
    padding: 0 15px;
  }
}
.player-search-container .player-search-page {
  position: relative;
}
.player-search-container .player-search-page .top-row {
  position: relative;
  padding: 0;
}
.player-search-container .player-search-page .top-row .header .keyword {
  font-weight: 400;
}
.player-search-container .player-search-page .top-row .search-container {
  margin: 6px 0;
}
@media (max-width: 991px) {
  .player-search-container .player-search-page .top-row .results-count .hideable {
    display: none;
  }
}
.player-search-container .player-search-page .no-results,
.player-search-container .player-search-page .unsafe-input {
  width: 100%;
  width: calc(100% - 10px);
  margin: 12px auto;
  float: none;
}
.player-search-container .player-search-page .results-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  position: relative;
  height: auto;
}
.player-search-container .player-search-page .results-loading .load-image {
  display: block;
  margin: 12px auto;
  height: 24px;
}
.player-search-container .player-search-page .search-result {
  position: relative;
  margin: 12px 0;
}
.player-search-container .player-search-page .search-result .player-item .avatar-card-container,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container {
  border-radius: 3px;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content {
  cursor: pointer;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-headshot,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-headshot {
  float: left;
  margin: 12px;
}
@media (max-width: 767px) {
  .player-search-container
    .player-search-page
    .search-result
    .player-item
    .avatar-card-container
    .avatar-card-content
    .avatar-card-caption,
  .player-search-container
    .player-search-page
    .search-result
    .responsive-card
    .avatar-card-container
    .avatar-card-content
    .avatar-card-caption {
    width: 60%;
    width: calc(100% - 128px);
  }
}
@media (max-width: 767px) {
  .player-search-container
    .player-search-page
    .search-result
    .player-item
    .avatar-card-container
    .avatar-card-content
    .avatar-card-caption
    .avatar-name,
  .player-search-container
    .player-search-page
    .search-result
    .responsive-card
    .avatar-card-container
    .avatar-card-content
    .avatar-card-caption
    .avatar-name {
    font-size: 16px;
  }
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-name-container.shimmer,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-name-container.shimmer {
  height: 18px;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-card-label
  .mobile-extra-details,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-card-label
  .mobile-extra-details {
  height: 19px;
  display: block;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-card-label
  .icon-nav-friends,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-card-label
  .icon-nav-friends {
  background-position: 0 -112px;
  width: 14px;
  height: 14px;
  background-size: 28px auto;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-card-label
  .icon-pastname,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-card-label
  .icon-pastname {
  background-position: 0 -546px;
  width: 14px;
  height: 14px;
  background-size: 28px auto;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-card-label.shimmer,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-card-label.shimmer {
  height: 12px;
}
@media (max-width: 767px) {
  .player-search-container
    .player-search-page
    .search-result
    .player-item
    .avatar-card-container
    .avatar-card-content
    .avatar-card-caption
    .avatar-status-container,
  .player-search-container
    .player-search-page
    .search-result
    .responsive-card
    .avatar-card-container
    .avatar-card-content
    .avatar-card-caption
    .avatar-status-container {
    display: none;
  }
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-status-container
  .icon-nav-group,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .avatar-status-container
  .icon-nav-group {
  background-position: -14px -168px;
  width: 14px;
  height: 14px;
  background-size: 28px auto;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .verified-badge-icon-player-search,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .verified-badge-icon-player-search {
  display: none;
  visibility: hidden;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .verified-badge-icon-player-search-rendered,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .verified-badge-icon-player-search-rendered {
  margin-left: 4px;
  width: 16px;
  height: 16px;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .verified-badge-icon-player-search-rendered-mobile,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-content
  .avatar-card-caption
  .verified-badge-icon-player-search-rendered-mobile {
  margin-left: 4px;
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-btns,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-btns {
  height: 57px;
  padding: 9px;
  border-radius: 0 0 3px 3px;
}
@media (max-width: 767px) {
  .player-search-container
    .player-search-page
    .search-result
    .player-item
    .avatar-card-container
    .avatar-card-btns,
  .player-search-container
    .player-search-page
    .search-result
    .responsive-card
    .avatar-card-container
    .avatar-card-btns {
    display: none;
  }
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-btns.not-visible,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-btns.not-visible {
  visibility: hidden;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-btns
  [class^="btn-"],
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-btns
  [class^="btn-"] {
  width: 48%;
  width: calc(50% - 5px);
  margin: 0;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-btns
  [class^="btn-"]:first-child,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-btns
  [class^="btn-"]:first-child {
  margin-right: 9px;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-btns
  [class^="btn-"].full-size,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-btns
  [class^="btn-"].full-size {
  width: 100%;
  margin: 0;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .avatar-card-btns
  .info-text,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .avatar-card-btns
  .info-text {
  text-align: center;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .mobile-card-btn,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .mobile-card-btn {
  display: none;
}
@media (max-width: 767px) {
  .player-search-container
    .player-search-page
    .search-result
    .player-item
    .avatar-card-container
    .mobile-card-btn,
  .player-search-container
    .player-search-page
    .search-result
    .responsive-card
    .avatar-card-container
    .mobile-card-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 100%;
    border-left: 1px solid #e6e7ea;
  }
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .mobile-card-btn
  [class^="btn-"],
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .mobile-card-btn
  [class^="btn-"] {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.player-search-container
  .player-search-page
  .search-result
  .player-item
  .avatar-card-container
  .mobile-card-btn
  .btn-pending-friend,
.player-search-container
  .player-search-page
  .search-result
  .responsive-card
  .avatar-card-container
  .mobile-card-btn
  .btn-pending-friend {
  opacity: 0.3;
}
